.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 90px;

  border-radius: 6px;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
