.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.nameContainer {
  padding: 0rem 1.2rem;
  min-width: 40px;
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 500px;
  border: 2px solid gold;
}

.initial {
  border: 2px solid rgb(214, 214, 214);
}

.name {
  margin-top: -0.2rem;
  color: white;
}

.avatar {
  width: 100px;
  height: 100px;
  /* border: none; */
  animation: loading infinite linear 1.5s;
  /* transition: all ease 0.2s; */
  /* justify-self: center; */
}

@keyframes loading {
  0%,
  100% {
    background-color: rgb(121, 121, 121);
  }
  50% {
    background-color: rgb(163, 163, 163);
  }
}

.empty {
  animation: loading infinite linear 1.5s;
  padding: 0.2rem 1.2rem;
}
