.main {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  gap: 1rem;
  align-items: stretch;
}

.title {
  text-align: center;
  border-bottom: 2px solid gold;
  align-self: center;
  padding-bottom: 0.5rem;
}

.passwordBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonsContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.switch {
  width: 30px;
  height: 30px;
  background-color: rgb(55, 138, 55);
  border-radius: 500px;
}

.input {
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}
