.main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1.5rem;
  margin: auto;
  font-family: "Silkscreen";
  align-items: center;
  padding: 0 1rem;
  /* border: 2px pink dashed; */
}

.title {
  text-align: center;
  margin-top: 1rem;
}

.nameBox {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.avatarBox {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.createGameBox {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 0.5rem;
}

.codeBox {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 0rem;
}
.codeInput {
  border-bottom: 0;
}
