.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.buttonsContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.refresh {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.password {
  margin-top: 1rem;
}
.passwordInput {
  display: flex;
  align-items: center;
  gap: 1rem;
}
