.main {
  position: relative;
  z-index: -2;
  opacity: 1;
  transition: all ease 0.3s;
}

.inactive {
  opacity: 0.5;
  transition: all ease 0.3s;
}

.faceUp {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateY(-10px);
}

.faceDown {
  position: absolute;
  flex-direction: row-reverse;
  top: 0;
  width: 100%;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateY(0px);
  z-index: -1;
}

.card {
  width: 50%;
  margin: -1.2rem;
  max-width: 70px;
}
