.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.avatar {
  width: 30px;
  height: 30px;
  border: 1px solid white;
}
