.main {
  display: grid;
  flex: 1;
  /* max-width: 250px; */
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* transform: rotate(180deg); */
  grid-template-areas:
    "info info info"
    "info info info"
    "hand hand hand"
    "hand hand hand"
    "face face face"
    "face face face";
  height: 100%;
  border: 2px solid transparent;
}

/* .active {
  border: 2px solid gold;
  border-radius: 15px;
} */

.face {
  grid-area: face;
  /* background-color: cadetblue; */
}

.hand {
  grid-area: hand;
  /* background-color: rgb(95, 129, 160); */
}

.info {
  grid-area: info;
}

.active {
  /* border: 2px solid gold; */
  background-color: rgba(255, 217, 0, 0.123);
  border-radius: 15px;
  /* animation: pulse 1s linear infinite; */
}

@keyframes pulse {
  0%,
  100% {
    background-color: rgba(255, 217, 0, 0.144);
  }
  50% {
    background-color: rgba(255, 217, 0, 0.068);
  }
}
