.main {
  width: 80px;
  height: 80px;
  border-radius: 500px;
  overflow: hidden;
  border: 5px solid rgb(102, 102, 102);
  /* background-color: grey; */
  cursor: pointer;
  animation: loading infinite linear 1.5s;
  /* transition: all ease 0.2s; */
  /* justify-self: center; */
}

@keyframes loading {
  0% {
    background-color: rgb(207, 207, 207);
  }
  50% {
    background-color: rgb(153, 153, 153);
  }
  100% {
    background-color: rgb(209, 209, 209);
  }
}

.main img {
  transform: scale(1.05);
}

.selected {
  border: 5px solid gold;
}
