.main {
  display: grid;
  height: 86vh;
  /* REMOVE */
  /* overflow: hidden; */
  /**/
  width: 100%;
  max-width: 700px;
  margin: auto;
  /* border: 2px dashed red; */
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "opponents opponents opponents opponents opponents opponents opponents opponents opponents"
    "opponents opponents opponents opponents opponents opponents opponents opponents opponents"
    "opponents opponents opponents opponents opponents opponents opponents opponents opponents"
    "opponents opponents opponents opponents opponents opponents opponents opponents opponents"
    "message message message message message message message message message"
    "deck deck stack stack stack stack stack actions actions"
    "deck deck stack stack stack stack stack actions actions"
    "deck deck stack stack stack stack stack actions actions"
    "player player player player player player player player player"
    "player player player player player player player player player"
    "player player player player player player player player player"
    "player player player player player player player player player";
}

.player {
  grid-area: player;

  /* border: 2px solid grey; */
  /* border: 2px dashed orange; */
}

.opponents {
  grid-area: opponents;
}

.opponent1 {
  grid-area: opponent1;
  /* border: 2px dashed yellow; */
}

.opponent2 {
  grid-area: opponent2;
  /* border: 2px dashed yellowgreen; */
}

.opponent3 {
  grid-area: opponent3;
  /* border: 2px dashed lightblue; */
}

.deck {
  grid-area: deck;
  /* border: 2px solid grey; */
  flex: 6;
}
.stack {
  grid-area: stack;

  /* flex: 3; */
}
.actions {
  grid-area: actions;
}

.message {
  grid-area: message;
}

.message h4 {
  color: white;
}

.cardContainer {
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  width: 50%;
  justify-content: center;
  /* animation: spin 3s linear infinite; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main button {
  font-size: 1rem;
  color: white;
}
