.main {
  display: grid;
  height: 86vh;

  width: 100%;
  max-width: 700px;
  margin: auto;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "opponents opponents opponents opponents opponents opponents opponents opponents opponents"
    "opponents opponents opponents opponents opponents opponents opponents opponents opponents"
    "opponents opponents opponents opponents opponents opponents opponents opponents opponents"
    "opponents opponents opponents opponents opponents opponents opponents opponents opponents"
    "message message message message message message message message message"
    "deck deck stack stack stack stack stack actions actions"
    "deck deck stack stack stack stack stack actions actions"
    "deck deck stack stack stack stack stack actions actions"
    "player player player player player player player player player"
    "player player player player player player player player player"
    "player player player player player player player player player"
    "player player player player player player player player player";
}

.player {
  grid-area: player;
}

.opponents {
  grid-area: opponents;
}

.deck {
  grid-area: deck;
  flex: 6;
}
.stack {
  grid-area: stack;
}
.actions {
  grid-area: actions;
}

.message {
  grid-area: message;
}

.message h4 {
  color: white;
}

.cardContainer {
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  width: 50%;
  justify-content: center;
}

.main button {
  font-size: 1rem;
  color: white;
  width: 100%;
}
