.main {
  display: grid;
  grid-template-areas:
    "info face face yes"
    "hand hand hand hand"
    "hand hand hand hand";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  border: 2px solid transparent;
  opacity: 0.5;
  transition: opacity ease 0.5s;
  will-change: opacity;
}

.face {
  grid-area: face;
}

.info {
  grid-area: info;
}

.hand {
  grid-area: hand;
}

.active {
  opacity: 1;
  transition: opacity ease 0.5s;
}

@keyframes pulse {
  0%,
  100% {
    background-color: rgba(255, 217, 0, 0.144);
  }
  50% {
    background-color: rgba(255, 217, 0, 0.068);
  }
}
