.main {
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  box-shadow: -0px -0px 4px rgba(0, 0, 0, 0.493);
  will-change: transform;
  cursor: pointer;
}

.selected {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.801);
}
