.main {
  padding: 0.3rem 0.5rem;
  font-family: "Silkscreen";
  background-color: transparent;
  outline: none;
  border: 2px solid rgb(133, 133, 133);
  font-size: 1.2rem;
  color: gold;
  width: 100%;
}

.main:focus {
  border: 2px solid gold;
}
