.main {
  position: fixed;
  bottom: 5%;
  padding: 0.5rem 1rem;
  padding-right: 2.5rem;
  border-radius: 5px;
  font-size: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: "silkscreen";
  display: flex;
  text-align: center;
  gap: 1rem;
  align-items: center;
  /* min-width: 80%; */
  /* max-width: 400px; */
  border: 2px solid rgb(155, 182, 149);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.123),
    -2px -4px 6px rgba(0, 0, 0, 0.123);
}

.notificationIcon {
  /* position: absolute;
  top: 5px;
  left: 10px; */
  font-size: 1.5rem;

  /* padding: 0rem 0.5rem; */
}

.closeIcon {
  position: absolute;
  top: 3px;
  font-size: 1rem;
  right: 10px;
  cursor: pointer;
}

.warning {
  background-color: rgb(139, 39, 39);
}

.alert {
  background-color: rgb(139, 101, 39);
  background-color: white;
}

.info {
  background-color: white;
}

.success {
  background-color: rgb(59, 139, 39);
}
